* {
    background-color: #737373;
}

.circle {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border-style: solid;
    border-color: #444444;
    border-width: 15px;
    margin: 30px;
}

#grid-container {
    display: grid;
    grid-template-areas: "banner banner banner";
}

#title-image {
    grid-area: banner;
    width: 100%;
    grid-row: 1 / 2;
}